.commentitem {
  border: 1px solid black;
  margin-bottom: 10px;
}
.comment-view {
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}
.comment-form-input {
  width: 300px;
  height: 150px;
}

.text {
  width: 300px;
}
