.postitem {
  border: 1px solid black;
  height: 200px;
  margin-right: 50px;
  margin-bottom: 10px;
}
.post-view {
  padding:0 50px;
  border-bottom: 1px solid black;

}
.taglist {
  table-layout: fixed;
}

.tag {
  display: inline;
  vertical-align: top;
  border: 1px solid black;
  padding: 10px;
}

.post-form-input {
  width: 300px;
  height: 150px;
}

.text {
  width: 300px;
}
